<!doctype html>
<html lang="en" >
<head>
  <!-- metadata -->
  <meta charset="UTF-8">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
      <!-- CSS -->  
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

      <title>Screening IoMT COVID-19</title>

</head>
<body>
    <div class="session" style="width: 51rem; height: 30rem; display: flex; flex-direction: column; justify-content: end; background-position: 27% 90%; background-repeat: no-repeat;">
        <div style="    color: white;
        font-weight: bold;
        font-size: 2.6rem;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;">
            Hi username
        </div>
        <div style="min-height: 10rem; background-color: white; padding: 2rem; flex-shrink: 0;">
            <p style="font-weight: bold; font-size: 1.5rem; text-align: center; margin-bottom: 2rem;">Hasil pencarian</p>
            <div class="row">
                <div class="col-md-12 form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>NIK</th>
                                <th>Tanggal</th>
                                <th>Hasil</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for index, patient in patients%}
                            <tr>
                                <td>{{patient[1]}}</td>
                                <td>{{patient[2]}}</td>
                                <td>{{patient[12].date()}}</td>
                                <td>
                                    <a href="{{ url_for('screening') }}/{{patient[0]}}">Lihat hasil</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
    </div>
</body>
<!-- partial -->
 
</html>
